<h1>Listing scorecards</h1>

<table>
  <tr>
    <th>Match</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scorecards.each do |scorecard| %>
  <tr>
    <td><%= scorecard.match_id %></td>
    <td><%= link_to 'Show', scorecard %></td>
    <td><%= link_to 'Edit', edit_scorecard_path(scorecard) %></td>
    <td><%= link_to 'Destroy', scorecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scorecard', new_scorecard_path %>
