<%= form_for(@inning) do |f| %>
  <% if @inning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inning.errors.count, "error") %> prohibited this inning from being saved:</h2>

      <ul>
      <% @inning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.text_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
